body {
	padding: 0;
	margin: 0;
	font-family: monospace;
}

.header {
	background-color: #eee;
	height: 40px;
}

.content {
	padding-top: 80px;
	height: 410px;
}

#login {
	background-color: #6495FF;
	border: solid 3px #000;
	border-radius: 12px;
	height: 170px;
	width: 350px;
	padding-top: 90px;
}

.footer {
	padding-top: 35px;
	height: 65px;
	background-color: #ddd;
}

.inputForm {
	border: solid 1px #999;
	border-radius: 4px;
}

.buttonLogin {
	margin-left: 148px;
}