body {
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
}

.header {
	background-color: #eee;
	height: 40px;
}

.content {
	padding-top: 80px;
	height: 410px;
}

#login {
	background-color: #6495FF;
	border: solid 2px #000;
	border-radius: 12px;
	height: 15em;
	width: 20em;
	padding-top: 60px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.input {
	width: 80%;
	margin-top: 5%;
	margin-left: 5%;
	border-radius: 3px;
	border: 2px solid windowframe;
	font-family: monospace;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.footer {
	padding-top: 35px;
	height: 65px;
	background-color: #ddd;
}

.inputForm {
	border: solid 1px #999;
	border-radius: 4px;
}

.buttonLogin {
	width: 20%;
	height: 2em;
	border: 2px solid windowframe;
	color: #000000;
	border-radius: 3px;
	font-size: 11pt;
	cursor:pointer;
	margin-top:1%;
	margin-left: 35%;
}