body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

.header {
	background-color: #eee;
	height: 40px;
}

.content {
	padding-top: 40px;
	height: 410px;
}

.cabecalho {
	text-align: center;
	color: Snow;
	background: #4E94AB;
	font-size: 13pt;
	font-weight: normal;
	border-radius: 5px;
}

.cabecalho:HOVER {
	background: #346372;
}

.primeiro {
	text-align: center;
	background: #c0c0c0;
	border-radius: 5px;
}

.ultimo {
	text-align: center;
	background: #a7a7a7;
	border-radius: 5px;
}

.msgErro {
	font-size: 0.9em;
	color: #C9C9C9;
	margin-top: 3%;
	margin-right: 15%;
	list-style: none;
}

.linkCad {
	text-decoration: none;
	font: 13pt;
	color: black;
	font-weight: bold;
}

.linkCad:HOVER {
	text-decoration: underline;
	color: #346372;
}

.table {
	text-align: center;
	font-size: 11pt;
	width: 35%;
}

.tableEqp {
	text-align: center;
	font-size: 11pt;
	border-radius: 12px;
}

.bemVindo {
	font-weight: bold;
	font-size: 2em;
}

#login {
	color: #FFF;
	background-color: #4E94AB;
	border: solid 2px #000;
	border-radius: 12px;
	height: 15em;
	width: 20em;
	padding-top: 60px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.contentCadastro {
	padding-top: 0px;
	height: 430px;
}

.contentCadastroEquipa {
	padding-top: 0px;
	height: 430px;
}

.etiquetas {
	font-size: 1em;
	color: black;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.input {
	width: 80%;
	margin-top: 5%;
	margin-left: 5%;
	border-radius: 3px;
	border: 2px solid windowframe;
	font-family: Arial, sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.footer {
	padding-top: 30px;
	width: 100%;
	height: 50px;
	margin-top: 10px;
	background-color: #ddd;
}

.inputForm {
	width: 80%;
	margin-top: 5%;
	margin-left: 5%;
	border: 2px solid windowframe;
	font-family: Arial, sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 4px;
}

.buttonCada {
	height: 1.6em;
	border-radius: 3px;
	border: 2px solid windowframe;
	color: #000000;
	font-family: Arial, sans-serif;
	font-size: 12pt;
	cursor: pointer;
	margin-top: 1%;
	margin-right: 5%;
}

.buttonCadaEquipa {
	height: 1.6em;
	border-radius: 3px;
	border: 2px solid windowframe;
	color: #000000;
	font-family: Arial, sans-serif;
	font-size: 12pt;
	cursor: pointer;
	margin-top: 1%;
	margin-left: 15%;
}

.buttonLogin {
	width: 25%;
	height: 1.6em;
	border-radius: 3px;
	border: 2px solid windowframe;
	color: #000000;
	font-family: Arial, sans-serif;
	font-size: 12pt;
	cursor: pointer;
	margin-top: 8%;
	margin-left: 29%;
}

.head {
	width: 100%;
	background-color: #4E94AB;
}

#btn-menu {
	display: none;
}

.head label {
	display: none;
	width: 30px;
	height: 30px;
	padding: 10px;
	border-right: 1px solid #fff;
}

.head label:HOVER {
	cursor: pointer;
	background: rgba(0, 0, 0, 0.3);
}

.menu ul {
	margin: 0;
	list-style: none;
	padding: 0;
	display: flex;
}

.menu li {
	border-right: 1px solid #fff;
}

.menu li:HOVER {
	background: rgba(0, 0, 0, 0.3);
}

.menu li a {
	display: block;
	padding: 15px 20px;
	color: #fff;
	text-decoration: none;
}

@media ( max-width :768px) {
	.head label {
		display: block;
	}
	.menu {
		position: absolute;
		background: #4E94AB;
		width: 70%;
		margin-left: -70%;
		transition: all 0.5s;
	}
	.menu ul {
		flex-direction: column;
	}
	.menu li {
		border-top: 1px solid #fff;
	}
	#btn-menu:CHECKED ~ .menu {
		margin: 0;
	}
}

.buttonCate {
	height: 1.6em;
	border-radius: 3px;
	border: 2px solid windowframe;
	color: #000000;
	font-family: Arial, sans-serif;
	font-size: 12pt;
	cursor: pointer;
	margin-top: 1%;
	margin-left: 10%;
}